.jumbotron {
  height: 600px;
  /* background color img repeat attachment position*/
  background: #13264b url("../images/jumbotron_gold.png") no-repeat scroll center;
  background-size: 600px;
}

.jumbotron h1 {
  color: #d4bf86;
}

.jumbotron p {
  color: #d4bf86;
}

.bottom a {
  color: #d4bf86;
}

.lri {
  height: 600px;
  background: #13264b;
}