.nav {
  background: #efefef;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.nav ul ul {
  display: none;
}

.dropdown-menu {
  background: #efefef;
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

/* Dropdown 

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
} */



.jumbotron {
  height: 600px;
  background-color: #0a377b; 
  background-image: url("../images/jumbotron_yellow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
}

.whitetron {
  background-color: #0a377b; 
  background-image: url("../images/jumbotron_white.png");
}

.yellowtron {
  background-color: #0a377b; 
  background-image: url("../images/jumbotron_yellow.png");
}

.goldtron {
  background-color: #13264b; 
  background-image: url("../images/jumbotron_gold.png");
}

.white h1, p, a {
  color: #ffffff;
}

.yellow {
  color: #fcc312;
}

.gold {
  color: #d4bf86;
}

.jumbotron .top {
  position: relative;
  top: 50px;
}

.jumbotron .bottom {
  position: relative;
  top: 350px;
}

.jumbotron h1 {
  color: #fcc312;
  font-size: 48px;  
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  text-align: center;
}

.jumbotron p {
  font-size: 20px;
  font-family: 'Signika', sans-serif;
  color: #fcc312;
  text-align: center;
}

.bottom a {
  font-size: 20px;
  font-family: 'Signika', sans-serif;
  color: #fcc312;
  display: block;
  margin: auto;
  text-align: center;
}

.gallery {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.gallery h2 {
  font-family: 'Signika', sans-serif;
  color: #393c3d;
  font-size: 24px;
}

.gallery p {
  font-size: 15px;
  margin-bottom: 13px;
}

.cities {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dbdbdb;
}

.cities h3 {
  font-family: 'Signika', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.cities a {
  color: #00b0ff;
}

.footer {
  background-color: #efefef;
  padding-top: 10px;
}

.footer p {
  text-align: center;
}

.lri {
  height: 600px;
  background: #0a377b;
}

.youtube {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}