.nav {
	background: #efefef;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.nav ul ul {
	display: none;
}

.nav ul li:hover > ul {
	display: block;
	}

.jumbotron {
  height: 600px;
  /* background color img repeat attachment position*/
  background: #0a377b url("../images/jumbotron_yellow.png") no-repeat scroll center;
  background-size: 600px;
}

.jumbotron .top {
  position: relative;
  top: 50px;
}

.jumbotron .bottom {
  position: relative;
  top: 350px;
}

.jumbotron h1 {
  color: #fcc312;
  font-size: 48px;  
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  text-align: center;
}

.jumbotron p {
  font-size: 20px;
  font-family: 'Signika', sans-serif;
  color: #fcc312;
  text-align: center;
}

.bottom a {
  font-size: 20px;
  font-family: 'Signika', sans-serif;
  color: #fcc312;
  display: block;
  margin: auto;
  text-align: center;
}

.gallery {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.gallery h2 {
  font-family: 'Signika', sans-serif;
  color: #393c3d;
  font-size: 24px;
}

.gallery p {
  font-size: 15px;
  margin-bottom: 13px;
}

.cities {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dbdbdb;
}

.cities h3 {
  font-family: 'Signika', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.cities a {
  color: #00b0ff;
}

.footer {
  background-color: #efefef;
  padding-top: 10px;
}

.footer p {
  text-align: center;
}

.lri {
  height: 600px;
  background: #0a377b;
}

.youtube {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}